<head>
  {{ site.google_analytics }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% seo %}

  <meta property="og:image" content="/images/bg.jpg">

  <!-- Google font typography settings - defined in _config.yml -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Pacifico|Oxygen" rel="stylesheet">

  <!-- <script src="../assets/js/vanta.js"></script> -->

  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.net.min.js"></script>
  <script src="../assets/js/vanta.js"></script>
</head>
